* {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}


/*Diseño de columnas*/

.column-1 {
    width: 100%;
    float: left;
    background-color: red;
    border-radius: 5px;
}

.column-2 {
    width: 50%;
    float: left;
    background-color: green;
    border-radius: 5px;
}

.column-3 {
    width: 33.33%;
    float: left;
    background-color: blue;
    border-radius: 5px;
}

.column-4 {
    width: 25%;
    float: left;
    background-color: orange;
    border-radius: 5px;
}

.column-6 {
    width: 16.666666667%;
    float: left;
    background-color: gray;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .column-1 {
        width: 100%;
        float: left;
        background-color: red;
        border-radius: 5px;
    }
    .column-2 {
        width: 100%;
        float: left;
        background-color: green;
        border-radius: 5px;
    }
    .column-3 {
        width: 100%;
        float: left;
        background-color: blue;
        border-radius: 5px;
    }
    .column-4 {
        width: 50%;
        float: left;
        background-color: orange;
        border-radius: 5px;
    }
    .column-6 {
        width: 33.33%;
        float: left;
        background-color: gray;
        border-radius: 5px;
    }
}